{% extends "template.html" %}
{% block body %}
{% if results %}
{% for url, percent, sample in results %}
<div class="result-box">
        Relavence:{{percent}}%  <a href="">{{url }}</a>
        <p>{{ sample}}</p>
</div>
{% endfor %}
{% else %}
    <p>No results found.</p>
{% endif %}
</div>
{% endblock %}
