{% extends "template.html" %}
{% block body %}
    <div id="info">
        <h1>
            <span class="result-law-title">{{ law_title }}</span>
            {% if para_n %} §<span class="result-law-para">{{ para_n }}</span>{% endif %}
        </h1>
        {% if analysis['keywords'] %}
        <h4>Keywords:</h4>
        <ul>
        {% for keyword in analysis['keywords'] %}
            <li>{{ keyword }}</li>
        {% endfor %}
        </ul>
        {%  endif %}
        {% if analysis['punishments'] %}
        <h4>Punishments:</h4>
        <ul>
        {% for keyword in analysis['punishments'] %}
            <li>{{ keyword }}</li>
        {% endfor %}
        </ul>
        {%  endif %}
        {% if analysis['definitions'] %}
        <h4>Definitions:</h4>
        <ul>
        {% for word in analysis['definitions'].keys() %}
            <li><b>{{ word }}:</b> {{ analysis['definitions'][word] }}</li>
        {% endfor %}
        </ul>
        {%  endif %}
    </div>
{% endblock %}
