
body {
  display: grid;
  grid-area:page;
  grid-template-areas: 
                        "head search"
                       "main main"
                       "foot foot";
 grid-template-rows: 80px 1fr 20px;
 grid-template-columns: 100px 1fr;
 font-family:'Georgia', serif;
}

#header img{
    width: 50px;
}
#header {
  grid-area: head;
}

#search {
    grid-area: search;
}
#main {
    grid-area: main;
    min-height: 500px;
    border-top-style:solid;
    padding-top: 20px;
}
#info {
    max-width: 500px;
}
footer {
grid-area: foot;
border-top-style:solid;
}
nav ul{
  margin: 0px;
  padding:0px;
}

nav ul li{
  display: block;
  padding: 8px;
  text-align: center;
  float: left;
  text-decoration: none;
}

#form-button {
    float:left;
}

.result-box{
    margin: 5px;
    width: 300px;
    height: 250px;
    overflow: hidden;
    float: left;
    border:dashed 1px;
    padding: 2px;
}